<launch>
    <node name="segmentation_bring_up_node" pkg="image_agnostic_segmentation" type="bring_up_node.py" />
    <node name="segmentation_test_node" pkg="image_agnostic_segmentation" type="segmentation_test.py" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find image_agnostic_segmentation)/rviz/scene.rviz"/>
</launch>
